<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Song+Myung&amp;subset=korean" rel="stylesheet">
</head>

<body onload="onBodyLoad();" style="padding-top: 0px; padding-left: 20px; padding-right: 20px;">

<div id="main_body" class="row">

    <div id="d_passage" style="padding-top: 40px;">
        <div id="d_passage_name">
        </div>
        <br>
        <!-- <div id="d_passage_body" style="font-family: 'Song Myung', serif; font-size: 18px;"> -->
        <div id="d_passage_body" style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;">
        </div>
        <br>
        <div id="d_passage_options">
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="https://underscorejs.org/underscore-min.js"></script>
<script src="https://gayang.appspot.com/public/data/game_main.js"  charset="UTF-8"></script>
<script src="https://gayang.appspot.com/public/data/random_encounter.js"  charset="UTF-8"></script>
<script src="https://gayang.appspot.com/public/js/TxtGameLib.js"></script>
<script>

function onBodyLoad(){
        gameStart();
    }


</script>

</body>

</html>