<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Writer's Journey</title>

    <!-- 커스텀 스타일 불러오기 -->
    <link href="public/css/main.css" rel="stylesheet">
    <link href="public/css/sidenav.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet">

  </head>

  <body onload="onBodyLoad();">
  <div class="screen_bg">

    <!-- All of the Node.js APIs are available in this renderer process. -->
   
    <!--
    <h1>Hello World!</h1>
    We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.
    -->
    <div class="title_bar">      
      <div class="title_bar_bg">

        <div class="menu">
          <div class="applogo">

          </div>

            <div class="menu_file">파일</div>
            <div class="menu_edit">편집</div>
            <div class="menu_view">보기</div>
            <div class="menu_help">도움말</div>

            <div class="btn_file menu_btn" onclick="onBtn_Menu();">
              <div id="dropdown" class="dropdown">
                <div id="dropdown-content" class="dropdown-content">
                  <a href="#">새 글</a>
                  <a href="#">새 챕터</a>
                  <a href="#">새 스토리</a>
                  <a href="#">새 프로젝트</a>
                  <hr>
                  <a href="#" onclick="onAppClose();">종료</a>
                </div>
              </div>
            </div>
            <div class="btn_edit menu_btn" onclick="onBtn_Menu();">
              <div id="dropdown" class="dropdown">
                <div id="dropdown-content" class="dropdown-content">
                  <a href="#">취소</a>
                  <a href="#">복원</a>
                  <hr>
                  <a href="#">복사</a>
                  <a href="#">붙여넣기</a>
                </div>
              </div>
            </div>
            <div class="btn_view menu_btn" onclick="onBtn_Menu();">
              <div id="dropdown" class="dropdown">
                <div id="dropdown-content" class="dropdown-content">
                  <a href="#" onclick="playStory();">스토리 재생</a>
                  <a href="#">차트 보기</a>
                  <hr>
                  <a href="#">글 보기</a>
                  <a href="#">전체보기</a>
                </div>
              </div>
            </div>
            <div class="btn_help menu_btn" onclick="onBtn_Menu();">
              <div id="dropdown" class="dropdown">
                <div id="dropdown-content" class="dropdown-content">
                  <a href="#">튜토리얼</a>
                  <hr>
                  <a href="#" id="information-dialog">정보</a>
                </div>
              </div>
            </div>
        </div>

        
        <div class="title_bar_controls">
          <!---div class="bounds"></div>-->
          <div class="minimise"></div>
          <div class="maximise">
          </div>
          <div class="close"></div>

          <div id="close_btn" class="close_btn" onclick="onAppClose();"></div>
          <div class="max_btn"></div>
          <div class="min_btn"></div>
        </div>


      </div>
      <div class="tltlebar_drag"></div>
    </div>

    <div class="sidenav">
      <div class="sidenav_drawerbg">
      
      </div>
      <div class="sidenav_line"></div>
    </div>
    <div class="article_list">
        <div class="article_list_bg">

          </div>
          <div class="article_list_title">
              모든글...
          </div>          
          <div id="article_list_items" class="article_list_items">
              
          </div> 
    </div>

  </div>
  <div id="mynetwork" class="chart_view">

  </div>
  <script type="text/template" id="temp_article_item">

    <%
      var i = 0; 
      _.each(items, function(item,key,list){
    %>
    <div class="article_item" style="top: <%= i*100  %>px">
        <div class="article_item_line">
          
        </div>
        <div class="article_item_title">
            <%= item.body.slice(0, 15) %>
        </div>
        <div class="article_item_preview">
            <%= item.body.slice(0, 100) %>
        </div>
    </div>
    <%
      i++;
    });
    %>
  </script>

  <script src='public/electron/renderer/dialogs.js'></script>
  <script src='public/data/test.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://underscorejs.org/underscore-min.js"></script>
  <script src="http://visjs.org/dist/vis.min.js"></script>
  <script>

      if( require == undefined )
      {

      }
      else
      {
        $ = require("jquery");

        // You can also require other files to run in this process
        require('./renderer.js');
      }


      function onAppClose(){
        if( require == undefined )
        {
          window.close();
        }
        else
        {
          const remote = require('electron').remote;
          remote.getCurrentWindow().close();
        }
      }

      function onBodyLoad(){

        var tempHtml = $("#temp_article_item").html();

        var template = _.template(tempHtml, {variable: 'items'});

        var tempStr = template(g_gameMainDataList[0].paragraphList);
        console.log(tempStr);

        $("#article_list_items").html(tempStr);


        var data = {
          nodes: [],
          edges: []
        };


        var i=0;
        g_gameMainDataList[0].paragraphList.forEach(element => {
          
            var tempObj = {};
            tempObj.id = i;
            tempObj.label = element.body.slice(0, 15);

            data.nodes.push(tempObj);
            i++;
        });


        var options = {
          edges: {
            font: {
              size: 12
            },
            widthConstraint: {
              maximum: 90
            }
          },
          nodes: {
            shape: 'box',
            margin: 10,
            widthConstraint: {
              maximum: 200
            }
          },
          physics: {
           enabled: false
          }
        };
        var divChartView = document.getElementById('mynetwork');
        var visNetwork = new vis.Network(divChartView, data, options);

      }

      function onBtn_Menu(){
        
        var eventTargetDropDown = $('#dropdown', event.target);
        var eventTargetDropDownContent = $('#dropdown-content', event.target);

        $("[id='dropdown']").each(function(){
          //console.log($(this).parent().get(0));
          if( $(this).parent().get(0) != event.target){
            $(this).css('display', 'inline-block'); 
          }
          
        });
        $("[id='dropdown-content']").each(function(){
          if( $(this).parent().parent().get(0) != event.target ){
            $(this).css('display', 'none');  
          }          
        });
        


        var dropdown_display = eventTargetDropDown.css('display');
        if( dropdown_display == 'inline-block'){
          eventTargetDropDown.css('display', 'block');
          eventTargetDropDownContent.css('display', 'block');
        }
        else{
          eventTargetDropDown.css('display', 'inline-block');  
          eventTargetDropDownContent.css('display', 'none');    
        }
      }

      function playStory(){
        window.open("public/view/play.html", "", "width=480,height=852");
      }
  </script>
</body>
</html>
